body {
    margin: 0;
    padding: 0;
    background-color: #008000;
    background-image: radial-gradient(#95ab95a0 20%, transparent 20%), radial-gradient(#008000 20%, transparent 20%);
    background-size: 40px 40px;
    background-position: 0 0, 20px 20px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
  }

  h1 {
    text-align: center;
    color: #000;
    font-size: 58px;
    margin: 0 0 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  h2 {
    text-align: center;
    color: #000;
    font-size: 34px;
    margin: 0;
  }

  h3 {
    color: #000;
    font-size: 24px;
    margin: 20px 0 10px;
  }

  .location {
    align-content: center;
    color: #000;
    font-size: 14px;
    margin: 0;
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 5px;
    font-size: 18px;
  }

  .location-address {
    font-weight: bold;
    font-size: 18px;
  }

  .post-golf-gathering {
    margin-top: 30px;
    text-align: center;
  }

  .post-golf-gathering h3 {
    margin-top: 0;
    font-size: 24px;
  }

  .post-golf-gathering p {
    font-size: 18px;
  }

  .footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
  }
  .quote-container {
text-align: center;
margin: 20px;
}

.centered-image {
display: block;
margin: 0 auto;
width: 200px; /* Adjust the width to your preferred size */
}

.quote {
font-size: 24px;
margin-top: 20px;
line-height: 1.5;
}

.quote cite {
display: block;
font-size: 18px;
margin-top: 10px;
}

  .venmo-button {
display: inline-block;
vertical-align: middle;
text-decoration: none;
background-color: #3EB8F0; /* Update the background color to your desired color */
color: #FFF;
padding: 10px 15px;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.venmo-button:hover {
background-color: #1C86C9; /* Update the hover background color to your desired color */
}


footer {
padding: 20px;
text-align: center;
font-size: 14px;
color: #666;
}

.footer-container {
max-width: 960px;
margin: 0 auto;
}

.footer-container ul {
list-style: none;
padding: 0;
margin: 0;
}

.footer-container ul li {
display: inline-block;
margin-right: 20px;
}

.footer-container ul li a {
color: #666;
text-decoration: none;
}

.footer-container ul li a:hover {
text-decoration: underline;
}

.company-info {
margin-top: 20px;
}

.company-info p {
margin-bottom: 10px;
}
